/*PURPLE CHESSBOARD*/

/*MAIN STYLING*/

* {
    scroll-behavior: smooth;
    font-family: 'Sacremento', sans-serif;
}

html, body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    text-align: center;
}

main, body {
    background-image: url(https://media.istockphoto.com/vectors/vector-realistic-isolated-black-brick-wall-background-for-decoration-vector-id908583310?k=20&m=908583310&s=612x612&w=0&h=CXdTs3dA8qzGl2qNUACWZu_KqlDwLxYFImhW_6GDOhI=);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

/*HEADER STYLING*/

h1 {
    padding-top: 20px;
    letter-spacing: 2px;
    font-size: 20px;
    padding-bottom: 24px;
}

#nav-bar {
    margin-top: 15px;
    transition: smooth;
    margin-bottom: 0px;
    font-size: 1.25em;
    align-items: center;
    justify-content: space-between;
}

.neonText {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #bc13fe,
        0 0 82px #bc13fe,
        0 0 92px #bc13fe,
        0 0 102px #bc13fe,
        0 0 150px #bc13fe;
    }
        
body {
    font-family: "Sacramento", sans-serif;
    background-color: #010a01;
    justify-content: center;
    align-items: center;  
}

h1 {
    text-align: center;
    font-weight: lighter;
}
        
a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid white;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow:
        0 0 .1rem white,
        0 0 .1rem white,
        0 0 1rem #bc13fe,
        0 0 0.4rem #bc13fe,
        0 0 1.4rem #bc13fe,
        inset 0 0 0.7rem #bc13fe;
    }

/*MAKES BUTTON PULSE SO IT LOOKS GLOWING*/

@keyframes pulsate {
    100% {
    text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #bc13fe,
            0 0 80px #bc13fe,
            0 0 90px #bc13fe,
            0 0 100px #bc13fe,
            0 0 150px #bc13fe;
    }
        
    0% {
        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #bc13fe,
            0 0 45px #bc13fe,
            0 0 55px #bc13fe,
            0 0 70px #bc13fe,
            0 0 80px #bc13fe;
    }
}

/*CHESSBOARD STYLING*/

#chessboard {
    border-spacing: 0;
    border-collapse: collapse;
    align-self: center;
    background-color: #0c0e0c;
}

#chessboard th {
    padding: 21px;
}

#chessboard td {
    width: 21px;
    height: 21px;
}

table {
    margin: 0px auto;
}

td {
    text-align: center;
    height: 21px;
    width: 21px;
}

p {
    font-size: 19px;
    color: #010a01;
}

th {
    color: #fff;
    font-weight: bold;
    height: 21px;
    width: 21px;
}

/*BOX STYLING IN CHESSBOARD*/

.box2 {
    background-color: #bc13fe;
}

.box1 {
    background-color: #fff2fd;
}